* {
  padding: 0%;
  margin: 0%;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#34b3f1), to(#22bb8b));
  background-image: linear-gradient(to bottom right, #34b3f1, #22bb8b);
  font-family: 'Roboto', sans-serif;
}

body header {
  width: 100%;
  height: auto;
}

body header h1 {
  font-family: 'Bebas Neue', cursive;
  color: white;
  text-align: center;
}

body main {
  margin: auto;
  width: 400px;
  height: 700px;
  border-radius: 30px;
}

body main .choose-user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#22bb8b), to(#34b3f1));
  background-image: linear-gradient(to bottom right, #22bb8b, #34b3f1);
}

body main .choose-user .h1-choose-user {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-size: 60px;
  color: white;
}

body main .choose-user .user-buttons {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .choose-user .button_style_choose_user {
  width: 300px;
  height: 100px;
  background-color: #d7e0e4;
  color: #050303;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  margin: 20px;
}

body main .user_id {
  width: 100%;
  height: 10%;
  background-color: #0b263395;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .user_id .chat_icon {
  height: 70%;
  border: 3px rgba(255, 255, 255, 0.769) solid;
  border-radius: 50%;
  margin: 15px;
}

body main .user_id .user_name {
  color: white;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

body main .chat {
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 80%;
  background-color: #0b26335b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .chat .message_get {
  min-height: 25px;
  margin: 10px;
  font-size: 20px;
  width: 88%;
}

body main .chat .message_get .message_get_p {
  width: 100%;
  margin: 5px;
  text-align: right;
  display: inline-block;
  color: white;
  background-color: rgba(202, 218, 242, 0.428);
  border-radius: 25px;
  padding: 10px;
  text-align: right;
}

body main .send_message_section {
  background-color: #0b26337b;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .send_message_section .message_text {
  background-color: transparent;
  width: 70%;
  height: 50%;
  border-radius: 25px;
  font-size: 20px;
  border: white 2px solid;
  color: white;
  padding-left: 8px;
}

body main .send_message_section .btn_send {
  width: 20%;
  height: 50%;
  background-color: #36be36;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

body main .log_out_section {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #0b26337b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .log_out_section .log_out {
  width: 40%;
  height: 100%;
  background-color: #0b26337b;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

body main .log_out_section .log_out:hover {
  background-color: royalblue;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

body footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: white;
}

.display-none {
  display: none;
}
/*# sourceMappingURL=style.css.map */